.cabecera {
    width: 100%;
    min-height: 90px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

.cabecera .titulo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.cabecera .titulo h3{
    color: #fff;
    font-weight: normal;
    opacity: 0.7;
    user-select: none;
}

.cabecera .botonera {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 10px;
}

.cabecera .botonera button {
    margin: 0 5px;
}

.tabla-contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}