.tabla {
    min-width: 65vw;   
    overflow: hidden; 
    border-radius: 10px 10px 0 0;
    font-family: 'Segoe UI Light', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.tabla thead {
    background-color: #373049;
    height: 80px;
}

.tabla thead tr th {
    text-align: center;
    color: #fff;
}

.tabla tbody tr {
    background-color: #fff;
    height: 80px;
    transition: all ease-in-out 150ms;
}

.tabla tbody tr:nth-child(2n + 1) {
    background-color: #f4f4f4;
}

.tabla tbody tr:hover {
    background-color: #ddd;
}

.tabla tbody tr td {
    text-align: center;
}